.adminpanel{
margin-bottom: 16px ;
background-color: rgb(105, 233, 255);
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left:0.5rem;
margin-right: 0.5rem;
padding:0.8rem;
color:rgba(194, 169, 27, 0.979);


}
.profileimg{
width: 70px;
height: 70px; 


}
.welcome{
color:white;
padding:1rem;
width:20rem;
height: 1rem;
font-style: italic;

}