.filterinput{
margin-left:5rem;
margin-top:4rem;
width:50vw;
}

.filtercomponent{

margin-left:2rem;
height:3rem;
border:2px solid black;

}
.filter{

    display:flex;
    flex-direction: row;
    
}