.form{
    
    width:100vw;
    height: 100vh;
    display:flex;
    //  background:url('../images/background.jpg');
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: url('https://media.alienwarearena.com/media/wallpapers-3d-hotel-design-hd-wallpaper-artistic-hd-wallpapers.jpg');
    // background-image: url('https://i.pinimg.com/originals/46/1d/25/461d254f8563f8945ce3a385f289df17.jpg');
    background-image: url('https://images.unsplash.com/photo-1488342994276-7c3bc0742042?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    // background: #333744;
  
    h1{
        color:white;
        padding-right: 2rem;
        white-space: nowrap;
        font-style: italic;
    }
    
  
}
.formtitle{

padding-right: 3rem;
color: white;

}
.formbox{
    box-shadow: 0px 0px 10px 1px #1D1F26;
    background:#708090;
    padding: 24px;
    width: 260px;
    
}


.signin__form{
    height: 30%;
    width: 40%;
    background: burlywood;
    color: whitesmoke;
}
.formcomponent{
    margin-bottom:1rem;
    border:0.5px solid white;
    ::placeholder{
        color:white;
    }
    border-radius: 1px;
    
}
.errormessage{
    color:red;
    border:1px solid #708090;
    
}
// .input{
//      ;
// }

.errorbox{

margin-bottom: 2rem;
margin-top: 2rem;
width:14rem;
height:3rem;
color: red;
}

.actionbutton{

    margin-bottom: 2rem;
    margin-top: 2rem;
    width:12rem;
    height:3rem;
    
    }
.icon{
margin: 1rem 1rem 1rem 1rem;
height:1rem;

}
// .footer{
// margin-top: 2rem;

// }