.detail{
background-color: #e6f3ff;
color:#00284d;

font-style: italic;
padding-bottom: 10rem;

}
.detailimg{
width:25vw;


}

.cartbutton{
    margin-top:3rem;
    margin-left:1rem;
    border-radius: 10px;
    height:4rem;
    width:8rem;
    
    background-image: url('');
    background-size: cover;
    background-color: burlywood;
}